<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Contact
    </a>
    <ng-template [ngIf]="counter > 30">
      <h3 class="text-white">You are a Vip! B)</h3>
    </ng-template>
    <button class="btn btn-success" (click)="plus()">Donate 10 Euros</button>
  </div>
</nav>
