<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/contact">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Contact
    </a>
    <a class="navbar-brand" routerLink="/">Home</a>
    <ng-template [ngIf]="counter > 30">
      <h3
        [ngStyle]="{
          'background-color': counter <= 60 ? 'gray' : 'black',
          color: counter <= 60 ? 'white' : 'gold'
        }"
      >
        {{ vipMessage }},
        <ng-template [ngIf]="counter > 60"
          ><span>You have donated {{ counter }} Euros!</span></ng-template
        >
      </h3>
    </ng-template>
    <button class="btn btn-success" (click)="plus()">Donate 10 Euros</button>
  </div>
</nav>
