<div class="container">
    <div class="row">
     <div class="col-12 col-md-6 col-lg-4" *ngFor="let car  of cars">

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Model: {{car.model}}</h5>
              <h6>Fuel: {{car.fuel}}</h6>
              <h6>yaer:{{car.year}}</h6>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      
      </div>
    </div>
</div>
